@import url("https://fonts.googleapis.com/css2?family=Lora&family=Sanchez&display=swap");


.clock-game-screen__BG {
  background-image: url('src/assets/Clock game/clock-bg.png');
  height: 100vh;
  background-repeat: repeat;

  .clock-game-screen__image {
    background-image: url('src/assets/Clock game/clock-clock-image.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.clock-game-screen__game {
  position: absolute;
  top: 55%;
  left: 40%;
}