@import url("https://fonts.googleapis.com/css2?family=Lora&family=Sanchez&display=swap");


.clock-game-screen__BG {
  background-image: url("/src/assets/Clock game/clock-bg.png");
  height: 100vh;
  background-repeat: repeat;

  .clock-game-screen__image {
    background-image: url("/src/assets/Clock game/clock-clock-image.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.clock-game-screen__game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.App {
  font-family: sans-serif;
}

.clock {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  position: absolute;
  top: 58%;
  left: 45%;
  transform: translate(-58%, -45%);
}

.clock::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
}

.sec_hand {
  position: absolute;
  width: 53px;
  height: 227px;
  top: 12%;
  left: 46%;
  transform-origin: bottom center;

  &.started {
    animation: rotate 1s linear infinite;

    @keyframes rotate {
      from {
        transform: rotateZ(0);
      }

      to {
        transform: rotateZ(360deg);
      }
    }
  }
}

.area {
  position: absolute;
  width: 4px;
  height: 200px;
  background: darkgoldenrod;
  top: 100px;
  left:305px;
  transform-origin: bottom;
}
