.intro {
  margin: 40px;
  width: 40%;
}

.balloons {
  display: flex;
  justify-content: space-evenly;
  margin: 0 150px;
}

.scores {
  height: 96px;
}

.animal-game-screen__BG {
  background-image: url("/src/assets/Amimal/dieren-bg.png");
  background-repeat: repeat;
  height: 100vh;
  background-size: 40%;
  cursor: url("/src/assets/Amimal/can-of-soup.png"), auto;	

  .animal-game-screen__image {
    background-repeat: no-repeat;
    background-size: contain;

    .btn { 
      background-color: red;
      margin-top: 10px;
    }
  }
}
