#root {
  font-family: 'Sanchez', serif;
}

.start-screen__BG {
  background-image: url('src/assets/start-screen-image.png');
  height: 100vh;
}

.start-screen__time__container {
  background-image: url(src/assets/start-screen-time-frame.png);
  height: 284px;
  width: 383px;
  position: absolute;
  top: 11vh;
  left: 55vw;

  .start-screen__time {
    color: #40210d;
    font-size: 56px;
    position: relative;
    top: 11vh;
  }

}


.start-screen__gear {
  background-image: url('src/assets/start-screen-GEAR.png');
  width: 256px;
  height: 256px;
  position: absolute;
  top: 41vh;
  left: 7vw;
  animation: rotating 10s infinite linear;
}

@keyframes rotating {
	0% {
		transform: rotate(0deg);
  }
  50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}