.finish-game-screen__BG {
  background-image: url("/src/assets/finish/end-screen-bg.png");
  background-repeat: repeat;
  height: 100vh;
  background-size: 40%;

  .finish-game-screen__image {
    background-image: url("/src/assets/finish/end-screen-image.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    .btn{
      margin-top: 20px;
      background-image: url("/src/assets/finish/end-screen-button.png");
      background-position: 74%;
      background-size: 100%;
      color: black;
      border: none;
      width: 198px;
      background-color: #876b59;
      cursor: pointer;

      &:hover{
        cursor: pointer;
      }
    }
  }
}

.highscore {
  font-family: 'Lora', serif;
  position: relative;
  width: 20vw;
  top: 31vh;
  left: 24vw;
  max-height: 540px;
  overflow: hidden;
}
