.finish-game-screen__BG {
  background-image: url("/src/assets/finish/end-screen-bg.png");
  background-repeat: repeat;
  height: 100vh;
  background-size: 40%;

  .finish-game-screen__image {
    background-image: url("/src/assets/finish/end-screen-image.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
   
  } 
  .btn{
      margin-top: 20px;
      background-image: url("/src/assets/finish/end-screen-button.png");
      background-position: 74%;
      background-size: 100%;
      color: black;
      border: none;
      width: 198px;
      background-color: #876b59 !important;
      cursor: pointer;
      margin-bottom: 20px;

      &:hover{
        cursor: pointer;
      }
    }
    .restart{
      position: absolute;
      top: 72vh;
      color: #6c2a04;    
      font-weight: 600;
    }
}

.highscore {
  font-family: "Lora", serif;
  position: relative;
  width: 18vw;
  top: 35vh;
  left: 14vw;
  max-height: 501px;
  overflow: scroll;
}
