.finish-game-screen__BG {
  background-image: url("/src/assets/finish/end-screen-bg.png");
  background-repeat: repeat;
  height: 100vh;
  background-size: 40%;

  .finish-game-screen__image {
    background-image: url("/src/assets/finish/end-screen-image.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
   
  } 
  .btn{
      margin-top: 20px;
      background-image: url("/src/assets/finish/end-screen-button.png");
      background-position: 74%;
      background-size: 100%;
      color: black;
      border: none;
      width: 198px;
      background-color: #876b59 !important;
      cursor: pointer;
      margin-bottom: 20px;

      &:hover{
        cursor: pointer;
      }
    }
    .restart{
      position: absolute;
      top: 72vh;
      color: #902000;    
      font-size: 33px;

    }
}

.highscore {
  font-family: "Lora", serif;
  position: relative;
  width: 18vw;
  top: 35vh;
  left: 14vw;
  max-height: 470px;
  overflow: scroll;
  text-align: left;
  
  .list-group-item {
    text-align: left;
    position: relative;
    display: block;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    color: var(--bs-list-group-color);
    text-decoration: none;
    background: none;
    border-bottom: solid #dfd5cd;
    padding-left: 10px;
    border-right: none;
    border-top: none;
    border-left: none;

  }
}
