#root {
  font-family: 'Sanchez', serif;
  text-align: center;
}

.start-screen__BG {
  background-image: url("/src/assets/Start/start-screen-image.png");
  background-size: cover; 
  height: 100vh;
  
  .btn{
    margin-top: 100px;
    background-image: url("/src/assets/finish/end-screen-button.png");
    background-position: 74%;
    background-size: 100%;
    color: black;
    border: none;
    width: 198px;
    background-color: #876b59;
    cursor: pointer;
    position: absolute;
    top: 60vh;
    left: 27vw;
    height: 59px;

    &:hover{
      cursor: pointer;
      background-color: #876b59;
      box-shadow: 4px 4px 4px black;
      animation: jiggle 0.55s ease-in 1;
    }
  }
}

// Jiggle Keyframes
@keyframes jiggle {
  20% {
     transform: translateY(-13%); }
  40% {
     transform: translateY(13%); }
  60% {
     transform: translateY(-7%); }
  80% {
     transform: translateY(7%); }
}

.start-screen__time__container {
  background-image: url("/src/assets/Start/start-screen-time-frame.png");
  height: 284px;
  width: 383px;
  position: absolute;
  top: 11vh;
  left: 40vw;

  .start-screen__time {
    color: #40210d;
    font-size: 56px;
    position: relative;
    top: 11vh;
  }

}

.start-screen__gear {
  background-image: url("/src/assets/Start/start-screen-GEAR.png");
  width: 256px;
  height: 256px;
  position: absolute;
  top: 41vh;
  left: 7vw;
  animation: rotating 10s infinite linear;
}


@keyframes rotating {
	0% {
		transform: rotate(0deg);
  }
  50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.start-screen__gear-2 {
  background-image: url("/src/assets/Start/start-screen-GEAR.png");
  width: 150px;
  height: 150px;
  background-size: contain;
  position: absolute;
  top: 63vh;
  left: 3.3vw;
  animation: rotating 5s infinite linear;
  animation-direction: reverse;
}


@keyframes rotating-2 {
	0% {
		transform: rotate(360deg);
  }
  50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(0deg);
	}
}